html {
  background-color: rgb(240, 231, 161);
}


body {
  font-family: 'tommy-soft', sans-serif;
}

/* sticky header */
header {
  background: #52A378;
  box-shadow: 0px 0px 20px 0px #000000; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* media quiery for the sticky header */
@media only screen and (min-width: 320px) {
  header {
    height: 12rem;
    flex-direction: column; 
  }
}
@media only screen and (min-width : 768px) {
  header {
    height: 12rem;
    flex-direction: column; 
  }
}
@media only screen and (min-width : 1024px) {
  header {
    height: 10rem;
    flex-direction: row;
  }
}

/* navigation list items - removes bullet points */
.navigation li {
  display: inline;
  list-style-type: none;
}

/* links inside navigation */
li a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
}

/* link on hover */
li a:hover {
  font-size: 16px;
  font-weight: bold;
}

li a:active {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

/* search box */
.dropbtn {
  background-color:  rgb(68, 134, 99);
  color: white;
  padding: 16px 105.5px 16px 105.5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(46, 90, 66);
}

#myInput {
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 60px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* "CookingPro" */
h1 {
    color: #f0f0f0;
    font-family: 'poetsenone' ;
}
/* media quiery for title "CookingPro" */
@media only screen and (min-width: 320px) {
  h1 {
    font-size: 35px;
  }
}
@media only screen and (min-width : 768px) {
  h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width : 1024px) {
  h1 {
    font-size: 50px;
  }
}

/* h2 elements - recipe headings and ad headings */
h2 {
  font-size: 30px;
  font-family: 'codecpro';
  text-decoration: underline;
  margin-bottom: 10px;
  text-align: center;
}

/* h3 elements */
h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 25px;
}

/* container for ad content */
.adheader {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(196, 188, 130);
  box-sizing: border-box;
  display: flex;
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

/* ad head image + txt */
.adheadcol {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 10px;
}

.adheadcol p {
  text-align: center;
}

/* ad head images */
.adheadcol img {
  margin: auto;
}

/* media quiery for adheader, switch to column on tablet + mobile */
@media only screen and (min-width: 320px) {
  .adheader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width : 768px) {
  .adheader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width : 1024px) {
  .adheader {
    flex-direction: row;
    justify-content: center;
  }
}

/* yellow background */
.recipesection {
  background-color: #EFE075, 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding-top: 100px;
}

/* white background */
.whitebg {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
}

/* center recipes */
.centercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* Today's Specials */
.todaysspecials {
  margin-bottom: 4rem;
  padding: 0;
  text-decoration: none;
}

/* Frequently Asked Questions - help page */
.askedq {
  font-family: 'codecpro';
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* media quiery to fix top margin for "Frequently Asked Questions */
@media only screen and (min-width: 320px) {
  .askedq {
    padding-top: 50px;
  }
}
@media only screen and (min-width : 768px) {
  .askedq {
    padding-top: 50px;
  }
}
/* left aligned */
@media only screen and (min-width : 1024px) {
  .askedq {
    padding-top: 100px;
  }
}

/* media quiery for helpsection, center text on on tablet + mobile 
and size down image */
@media only screen and (min-width: 320px) {
  .helpsection {
    margin: 0;
  }
  .smiley {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (min-width : 768px) {
  .helpsection {
    margin: 0;
  }
  .smiley {
    width: 80px;
    height: 80px;
  }
}
/* left aligned */
@media only screen and (min-width : 1024px) {
  .helpsection {
    margin-right: 600px;
  }
  .smiley {
    width: 100px;
    height: 100px;
  }
}
/* "Need Help?" */
.needhelp {
  font-size: 30px;
  font-family: 'codecpro';
  font-weight: bold;
  text-decoration: underline;
  padding-top: 30px;
}

/* padding for recipe heading */
.recipetxt {
  padding-bottom: 20px;
}

/* recipe names */
.recipetxt h2 {
  background-color: #AACC97;
  height: auto;
  width: auto;
  font-size: 18px;
  margin: auto;
}

/* recipe example 1 */
.recipe {
  display: flex;
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: -10px 10px 0 0 rgb(102, 184, 146);
  border-radius: 4px;
  border: 1px solid black;
  padding: 20px;
  height: 250px;
  width: 100%;
  max-width: 600px;
}

/* */
.time {
  padding-right: 20px;
}
/* recipe info - recipe name, time, and calories */
.recipeinfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.extradetails {
  display: flex;
  flex-direction: row;
}

/* food images */
.recipeimg img {
  display: inline-flex;
  width: 200px;
  height: 100%;
}

/* font */
@font-face {
  font-family: 'poetsenone';
  src: url('fonts/poetsenone-regular-webfont.woff2') format('woff2'),
       url('fonts/poetsenone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'codecpro';
  src: url('fonts/codec-pro.regular-webfont.woff2') format('woff2'),
       url('fonts/codec-pro.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}